
.side-bar{
    position: fixed;
    bottom: 0;
    height: 3.8rem;
    width: 100%;
    background-color: black;
    
    .side-bar__list{
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        opacity: .8;
        .list-wrapper-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            .uil{
                font-size: 1.5rem;
            }
            .list-label{
               font-size: .6rem;
            }
        }
    }
    .list-one{
        padding-top: .4rem;
        justify-content: center;
        column-gap: 2.2rem;
    }
    .list-two,.list-three,.uil-ellipsis-h{
        display: none;
    }
}


@media(min-width:760px){
   .side-bar{
     top: 0;
     width: 15.5rem;
     padding-top: 1rem;
     padding-left: 1rem;
     .side-bar__list{
        flex-direction: column;
        .list-wrapper-item{
            flex-direction: row;
            column-gap: 1.3rem;
            .uil{
                font-size: 1.5rem;
            }
            .list-label{
                font-size: .9rem;
            }
        }
    }

    .side-bar__separator {
        margin: 1rem 0;
    }

    .side-bar__separator.line-separator {
        border-bottom: solid 1px var(--color-2);
    }

    .list-two,
    .list-three,
    .uil-ellipsis-h {
        display: block;
    }
   }
}